*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.navbar-brand{
    max-width: 7%;
}
.navbar-brand img{
    max-width: 100%;
}

.nav-item{
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 3em;
    color: #2E2828;
    transition-duration: 0.5s;
    transition-property: background-color color;
}

.nav-item :hover{
    background-color: #2E2828;
    color: white;
}

.nav-item :active{
    scale: .9;
}





/* nav */

/* .caja_header-img a img{
    max-width: 5%;
}

.caja_header-nav li{
    text-transform: uppercase;
    list-style: none;
    font-size: 1em;
}
.caja_header-nav li a{
    padding:0.5em 1em;
    text-decoration: none;
    color: #2E2828;
    transition-duration: 0.5s;
    transition-property: background-color color;

}
.caja_header-nav li a:hover{
    background-color: #2E2828;
    color: white;
} */

hr{
    max-width: 80%;
}


/* main */

.img-princ{
    width: 90%;
    margin: auto;
}
.img-princ img{
    max-width: 100%;
}


/* aside */

.main_aside{
    border: #2E2828 solid 2px;

}
.aside_h2{
    background-color: #2E2828;
}
.aside_h2 h2{
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
}

.proyectos img{
    max-width: 100%;
}
.proyectos h4{
    font-size: 1.3em;
}
.proyectos h3{
    font-size: 1.7em;
}

.free-guy{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-delay: 2s;
}
.spirited{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-delay: 3s;
}
.adam{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-delay: 4s;
}
.red{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-delay: 5s;
}




/* caja estadisticas */
.caja-estadisticas{
    border: solid #2E2828 1px;

}
.caja-estadisticas p{
    margin-bottom: 0px;
    text-align: center;
}


/* info */

.info_h2 h2{
    text-align: left;
    font-size: 1.8em;
}
.main_info img{
    max-width: 100%;
}

.main_info p{
    text-align: justify;
    font-size: 1.2em;
}

.main_info .cajasflex div img{
    max-width: 100%;
}

/* form */
.formulario .btn {
    background-color: #2E2828;
    color: white;
    border-width: 0px;
}¨

.formulario form .btn :hover{
    background-color: white;
    color: #2E2828;
}

.boton-enviar{
    background-color: #2E2828;
    color: white;
    border-width: 0px;
}
.boton-enviar :hover{
    background-color: white;
    color: #2E2828;
}

/* form */
.texto-form{
    text-transform: uppercase;
    text-align: center;
    animation-duration: .5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-name: agrandar;
}
@keyframes agrandar{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.1;
    }
}




/* footer */
footer{
    height: 30vh;
}
footer div{
    height: 100%;
}

footer div span{
    font-size: 2em;
}


footer div a{
    padding: 0 8%;
}
.iconos{
    color: #2E2828;
    font-size: 1.8em;
    padding: 10px;
}





/* EMPRESA */

.h2_empresa{
    text-align: left;
    font-size: 1.8em;
    text-transform: uppercase;
    
}
.img-princ_empresa{
    width: 100%;
    margin: auto;
}
.img-princ_empresa img{
    max-width: 100%;
}


/* aside empresa */
.jin{
    max-width: 100%;
}


/* CARRERA */
.h2_carrera{
    background-color: #2E2828;
    max-width: 50%;
    animation-duration: 1s;
    animation-name: resaltarh2;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
}
.h2_carrera h2{
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
}

.prox-estrenos{
    transition: all 1s linear;
}
.prox-estrenos :hover{
    transform: scale(1.1);
}

.prox-estrenos img{
    max-width: 100%;
}
.prox-estrenos h4{
    font-size: 1.3em;
}
.prox-estrenos h3{
    font-size: 1.7em;
}

/* .h3_clue{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
.h4_clue{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

.h3_if{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 2s;
}
.h4_if{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

.h3_deadpool{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 3s;
}
.h4__deadpool{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 3s;
} */

.clue{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
.if{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 2s;
}
.deadpool3{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 3s;
}

@keyframes resaltar{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}
@keyframes resaltarh2 {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}
cajasflex d-flex justify-content-between my-5 mx-5

/* GALERÍA */


.gal img{
    max-width: 10%;
}
.cont_familia div img{
    max-width: 100%;
}
.cont_prox-estrenos div img{
    max-width: 100%;
}
.flia1{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
.flia2{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 2s;
}
.flia3{
    animation-duration: 1s;
    animation-name: resaltar;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-delay: 3s;
}
