*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.navbar-brand{
    max-width: 7%;
}
.navbar-brand img{
    max-width: 100%;
}

.nav-item{
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 3em;
    color: #2E2828;
    transition-duration: 0.5s;
    transition-property: background-color color;
}

.nav-item :hover{
    background-color: #2E2828;
    color: white;
}




/* nav */

/* .caja_header-img a img{
    max-width: 5%;
}

.caja_header-nav li{
    text-transform: uppercase;
    list-style: none;
    font-size: 1em;
}
.caja_header-nav li a{
    padding:0.5em 1em;
    text-decoration: none;
    color: #2E2828;
    transition-duration: 0.5s;
    transition-property: background-color color;

}
.caja_header-nav li a:hover{
    background-color: #2E2828;
    color: white;
} */

hr{
    max-width: 80%;
}


/* main */

.img-princ{
    width: 90%;
    margin: auto;
}
.img-princ img{
    max-width: 100%;
}


/* aside */

.main_aside{
    border: #2E2828 solid 2px;

}
.aside_h2{
    background-color: #2E2828;
}
.aside_h2 h2{
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
}

.proyectos img{
    max-width: 100%;
}
.proyectos h4{
    font-size: 1.3em;
}
.proyectos h3{
    font-size: 1.7em;
}


/* caja estadisticas */
.caja-estadisticas{
    border: solid #2E2828 1px;

}
.caja-estadisticas p{
    margin-bottom: 0px;
    text-align: center;
}


/* info */

.info_h2 h2{
    text-align: left;
    font-size: 1.8em;
}
.main_info img{
    max-width: 100%;
}

.main_info p{
    text-align: justify;
    font-size: 1.2em;
}

.cajasflex img{
    max-width: 22%;
    border: none;
}

/* form */
.formulario .btn {
    background-color: #2E2828;
    color: white;
    border-width: 0px;
}¨

.formulario form .btn :hover{
    background-color: white;
    color: #2E2828;
}

.boton-enviar{
    background-color: #2E2828;
    color: white;
    border-width: 0px;
}
.boton-enviar :hover{
    background-color: white;
    color: #2E2828;
}

/* form */
.texto-form{
    text-transform: uppercase;
    text-align: center;

}

/* footer */
footer{
    height: 30vh;
}
footer div{
    height: 100%;
}

footer div span{
    font-size: 2em;
}


footer div a{
    padding: 0 8%;
}
.iconos{
    color: #2E2828;
    font-size: 1.8em;
}





/* EMPRESA */

.h2_empresa{
    text-align: left;
    font-size: 1.8em;
    text-transform: uppercase;
    
}
.img-princ_empresa{
    width: 100%;
    margin: auto;
}
.img-princ_empresa img{
    max-width: 100%;
}


/* aside empresa */
.jin{
    max-width: 100%;
}


/* GALERÍA */
.h2_galeria{
    background-color: #2E2828;
    max-width: 50%;
}
.h2_galeria h2{
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
}

.prox-estrenos img{
    max-width: 100%;
}
.prox-estrenos h4{
    font-size: 1.3em;
}
.prox-estrenos h3{
    font-size: 1.7em;
}